<h1>About Electric Bike Emporium</h1>
<p>We were founded in 2017 when our owner's interests with technology and electric bikes combined to form a unique opportunity to offer affordable, high quality electric bikes for the masses.</p>
