<Center><h1>Welcome To Electric Bike Empire</h1>
<h2>Ride faster and smoother while enjoying your commute!</h2>
  <%= image_tag("radcity.jpg", class: "img-responsive", height: '350', width: '350') %>
  </Center>